.container {
  background: #4e483d;
  padding-top: 2px;
  padding-bottom: 4px;

  .wrapper {
    width: 100%;
    max-width: 1920px;
    padding: 1.5px 7%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;

    a {
      color: #fff;
      font-size: 16px;
      line-height: 18px;
      div {
        color: #fff;
      }
    }
  }

  .email {
    margin-bottom: 10px;
    color: #fff;
  }

  .text {
    display: flex;
    width: 30px;

    i {
      font-size: 20px;
      color: #fff;
      padding: 0 0.5rem;
    }
  }
}

@media only screen and (min-width: 660px) {
  .container {
    .wrapper {
      flex-direction: row;
    }

    .logo {
      text-align: left;
    }

    .logo,
    .email {
      margin-bottom: 0;
    }
  }
}
